<mat-toolbar color="primary">
  <span>Astromony Pictures</span>
</mat-toolbar>

<div style="padding: 20px;">
  <mat-form-field appearance="fill" style="padding: 20px;">
    <mat-label>Range of astromony pictures</mat-label>
    <mat-date-range-input (change)="reload()" [formGroup]="range" [rangePicker]="picker">
      <input matStartDate formControlName="start" placeholder="Start date">
      <input matEndDate formControlName="end" placeholder="End date">
    </mat-date-range-input>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
  </mat-form-field>

  <button mat-flat-button color="primary" (click)="reload()">Get Photos</button>
</div>



<div class="main">
  <div *ngFor="let apod of apods">
    <mat-card *ngIf="apod.hdurl" class="example-card">
      <mat-card-title-group>
        <mat-card-title>{{apod.title}}</mat-card-title>
        <mat-card-subtitle>{{apod.date}}</mat-card-subtitle>
        <img mat-card-xl-image style="max-width: 500px; align-self: center;" src={{apod.hdurl}} alt="Photo">
      </mat-card-title-group>
      <mat-card-content>
        <p *ngIf="apod.copyright">Copyright {{apod.copyright}}</p>
        <p>
          {{apod.explanation}}
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>